#mainScreen{
    width: 100%;
    margin-top: 10vh;
    display: none;
}

#question{
    height: 5em;
    font-weight: 500;
    font-size: 16px;
}

body{
    background-image: url("images/general-back.jpg");
    background-repeat: no-repeat;
    background-size: auto;
}

#nextQuestion .modal-content, #start .modal-content, #nextQuestion .modal-content, #setPlayers .modal-content{
    margin-top: 35vh;
}

.toggle{
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.toggle input{
    display: none;
}

.slider{
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before{
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider{
    background-color: #2196F3;
}

input:focus + .slider{
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before{
    transform: translateX(26px);
}

.slider.round{
    border-radius: 34px;
}
.slider.round:before{
    border-radius: 50%;
}

.startContent{
    text-align: center;
}

.sound{
    color: white;
}

#answer1, #answer2, #answer3, #answer4{
    padding: 1em;
}

.hintStyle{
    width: 75%;
}

.nextQuestionContainer{
    width: 100%;
}

#diff{
    text-align: center;
}

#option1, #option2{
    box-sizing: border-box;
}

#option1:hover, #option2:hover{
    border: 1px solid yellow;
}

.modal-title{
    text-align: center;
}

.hint-content{
    height: 90vh;
}

aside {
    border: 1px solid black;
    padding: 5px;
    padding-top: 10px;
    border-radius: 4px;
    background-color: rgba(0,0,0,0.5);
    height: 100%;
}

.playerColumn {
    height: 200px;
    opacity: 0.2;
    font-size: 100%;
    text-align: center;
    word-wrap: normal;
}

.currentTurn{
    font-size: 16px;
}
.hintBox{
    height: 30px;
    font-size: 14px;
    padding-top: 1.2%;
    margin-bottom: 5%;
    letter-spacing: .1em;
    font-weight: 400;
}
#help{
    margin-top: 8%;
}

#wiki:hover,#youtube:hover,#twitter:hover{
    background-color: #2c6fae;
    opacity: 0.9;
    border-radius: 4px;
    border: 1px solid yellow;
    color: white;
}
#wiki,#youtube,#twitter{
    border-radius: 4px;
    margin: 3px;
}

.activePlayer{
    opacity: 1;
    border: 3px solid yellow;
}

.hint-content{
    overflow: auto;
}

.highlightText:hover{
    background-color: white !important;
}

.answerText{
    font-size: 16px;
    text-align: center;
}
.modal-body p {
    word-wrap: break-word;
}

#nextTitle,.answerText{
    font-size: 18px;
}
.btn {
    white-space: normal;
}
.btn-danger{
    text-align: center;
}
.playerLabel{
    margin:5px;
    font-size:20px;
}
.nameInput{
    max-width: 100%;
}
#turn{
    padding-bottom: 1px;
}
#winMessage{
    font-size: 20px;
    color: green;
}
.statsButtons{
    padding: 0px;
}

@media screen and (max-width: 768px) {
    .playerColumn{
        height: 50px;
    }
    .playerOneStatusBox, .playerTwoStatusBox{
        padding-top: 10px;
        display: none;
    }
    .toggle{
        top: 14px;
        color: white;
    }
    .slider {
        top: -8px;
        left: 64px;
        right: -60px;
        bottom: 9px;
        /* margin: 5px */
    }
    .currentTurn{
        text-align: center;
        display: none;
    }
    #info, #reset{
        margin: 5px;
    }
    .controls{
        margin-top: 35px;
    }


}

@media screen and (max-width: 460px){
    .playerColumn{
        height: 50px;
    }
    .playerLabel{
        position: relative;
        top: 2px;
    }
    #mainScreen{
        margin-top: 17vh;
    }

}