#mainScreen{
    width: 100%;
    margin-top: 20vh;
}

#question{
    height: 5em;
}

body{
    background-image: url("images/general-back.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#answer1, #answer2, #answer3, #answer4{
    padding: 1em;
}

.hintStyle{
    width: 75%;
}

.nextQuestionContainer{
    width: 100%;
}

#option1, #option2{
    box-sizing: border-box;
}

#option1:hover, #option2:hover{
    border: 1px solid yellow;
}

.modal-title{
    text-align: center;
}

.hint-content{
    height: 90vh;
}

/*#question{*/
    /*text-align: center;*/
/*}*/

/*#answer1, #answer2, #answer3, #answer4{*/
    /*text-align: center;*/
/*}*/